.about__container {
    display: grid;
    grid-template-columns: 35% 53%;
    gap: 12%;
}

.about__portrait {
    height: fit-content;
    max-height: 40rem;
    border: 1rem solid var(--color-light);
    transition: var(--transition);
    border-radius: 2rem;
    overflow: hidden;
}

.about__portrait img {
    border-radius: 1.2rem;
}

.about__portrait:hover {
    border-width: 0;
}

.about__header {
    text-align: center;
}

.about__header a{
    color: var(--color-black);
}

.about__header a:hover {
    color: var(--color-primary);;
}


.about__socials {
    margin: 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.about__socials a {
    width: 1.8rem;
    aspect-ratio: 1/1;
    background: var(--color-light);
    color: var(--color-black);
    display: grid;
    place-items: center;
    border-radius: var(--border-radius-3);
}

.about__socials a:hover {
    background: var(--color-primary);
    color: var(--color-light);
    transform: translateY(-0.25rem);
}

.about__cards {
    margin: 1rem 0 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}


.about__right p {
    margin-bottom: 0.8rem;
}

.about__right .btn {
    margin-top: 2.5rem;
}

.about__cta {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}




/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
    .about__left {
        display: none;
    }

    .about__container {
        grid-template-columns: 1fr;
    }

    .about__right h2 {
        text-align: center;
    }
}


/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
.about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.about__right .btn {
    margin-top: 2rem;
}

}