
/* THEME change using react */
main.color-1 {
    --primary-hue: 270;
}
main.color-2 {
  --primary-hue: 110;
}
main.color-3 {
  --primary-hue: 240;
}
main.color-4 {
  --primary-hue: 325;
}
main.color-5 {
  --primary-hue: 0;
}
main.color-6 {
  --primary-hue: 55;
}

main.bg-2 {
  --black-lightness: 96%;
  --dark-lightness: 60%;
  --light-lightness: 12%;
  --white-lightness: 6%;
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));
}

/* make this one the default background theme */
main, 
main.bg-1{
  color: var(--color-dark);
  --color-primary: hsl(var(--primary-hue), 89%, 41%);
}